@import "./config/reset";
@import "config/media";
@import "config/mixin";
@import "config/variables";
@import "components/aside";
@import "components/footer";
@import "components/header";
@import "components/main";
@import "components/nav";
.wrap{
  display: flex;
  width: 1366px;
  background-color: #EAEAEA;
  margin: 0 auto;
  padding-bottom: 0;
  font-family: 'Lato', sans-serif;
}
.course {
  font-size: 12px;
  font-weight: 700;
  color: #bfbfbf;
}

.info{
  display: flex;
  flex-direction: column;
}
.info__main{
  display: flex;
}



