.info__header {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(191, 191, 191,0.5);

}

.user {
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    border-right: 1px solid #f1f1f1;
    padding-left: 19px;
    padding-right: 19px;
  }

  &__link:nth-child(4) {
    padding-left: 165px;
    padding-right: 165px;
  }
}

.rounded_rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 18px;
  border-radius: 20px;
  background: linear-gradient(0deg, #fd5272, #ea6d54);
}
.user__kendall {
  display: flex;
}

.kendall__avatar {
  width: 70px;
  height: 78px;
}
.kendall__name {
  font-weight: 700;
  font-size: 16px;
  padding-left: 18px;
  padding-top: 22px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #fd5272, #ea6d54);
}
.name__authority {
  font-weight: 400;
  font-size: 12px;
  padding-top: 9px;
  color: #bfbfbf;
}
.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin-left: 1px;
}
.point {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.folder {
  width: 20px;
  height: 18px;
}

.settings {
  width: 21px;
  height: 17px;
}

.upload {
  width: 20px;
  height: 18px;
}

.planet {
  width: 20px;
  height: 20px;
}

.envelope {
  width: 20px;
  height: 12px;
}

.stactics {
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px;

  &__title {
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    margin-bottom: 9px;
  }

  &__daily {
    tab-size: 20px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #fd5272, #ea6d54);
    margin-bottom: 8px;
  }

  &__course {
    display: flex;
  }

  &__link {
    font-size: 12px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #fd5272, #ea6d54);
  }
}

.form__input-wrap {
  width: 299px;
  height: 34px;
  position: relative;

  .form__input {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    outline: 0;
    color: #c8c8c8;
    font-size: 12px;
    padding: 0 42px 0 13px;
    box-sizing: border-box;
  }
  .form__input::placeholder {
    color: #c8c8c8;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-8px);
    right: 13px;
  }
}
