.info__header {
  background-color: #ffffff;
}

.user {
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    border-right: 1px solid #F1F1F1;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.rounded_rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 18px;
  border-radius: 20px;
  background: linear-gradient(0deg, #FD5272, #EA6D54);
}
.user__kendall {
  display: flex;
}

.kendall__avatar{
  width: 70px;
  height: 78px;
}
.kendall__name{
  font-weight: 700;
font-size: 16px;
  padding-left: 18px;
  padding-top: 22px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #FD5272, #EA6D54);
}
.name__authority{
  font-weight: 400;
  font-size: 12px;
  padding-top: 9px;
color: #BFBFBF;
}
.circle{
  width: 6px;
  height: 6px;
  border-radius:50%;
  background: #fff;
  margin-left: 1px;
}
.point{
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.folder {
  width: 20px;
  height: 18px;
}

.settings {
  width: 21px;
  height: 17px;
}

.upload {
  width: 20px;
  height: 18px;
}

.planet {
  width: 20px;
  height: 20px;
}

.envelope {
  width: 20px;
  height: 12px;
}

.stactics{
  border-top: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px;

  &__title {
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    margin-bottom: 9px;
  }

  &__daily {
    tab-size: 20px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
    margin-bottom: 8px;
  }

  &__course {
    display: flex;
  }

  &__link{
    font-size: 12px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
  }
}


  .form__input {
    border: solid #F1F1F1;
    border-radius: 25px;
    width: 299px;
    height: 34px;
    background-color: #F8F8F8;

    &-wrap {
      position: relative;
      padding: 0 140px;
      //height: 34px;
      //width: 299px;
      &::after {
        content: url('source/img/icon/zoom.png');
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translateY(-50%);
      }
    }
  }



