.nav {
  height: 1000px;
  width: 5.2%;
  background: linear-gradient(0deg, #FD5272, #EA6D54);

  &__item {
    width: 71px;
    padding-top: 25px;
    padding-bottom: 23px;
    background: #ffffff;

  }

  &__logo {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Deftone Stylus', sans-serif;
    font-weight: 400;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FD5272, #EA6D54);
  }
}
.nav__menu{
  text-align: center;
  margin: 30px 0;
}
.menu__name{
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
}